[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4

# RCS1194: Implement exception constructors
dotnet_diagnostic.RCS1194.severity = none

# S101: Types should be named in PascalCase
dotnet_diagnostic.S101.severity = none

# null handling in Unity
dotnet_diagnostic.UNT0007.severity = warning
dotnet_diagnostic.UNT0008.severity = warning
dotnet_diagnostic.UNT0023.severity = warning

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning
