name: Build

# Controls when the workflow will run
on:
  push:
# pull_request:

  workflow_dispatch:

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Move files into Assets
        run: |
          mkdir -p Assets/KRT/VRCQuestTools
          cp .github/workflows/VRCQuestTools.meta Assets/KRT/
          mv $(ls . | grep -v Assets) Assets/KRT/VRCQuestTools/

      - uses: actions/cache@v2
        with:
          path: Library
          key: Library-build-${{ github.ref }}
          restore-keys: |
            Library-build-

      - uses: game-ci/unity-builder@v2
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          targetPlatform: StandaloneWindows
          unityVersion: 2018.4.20f1
          buildMethod: KRT.VRCQuestTools.VRCQuestTools.Export
          allowDirtyBuild: true
          versioning: None

      - uses: actions/upload-artifact@v2
        with:
          name: unitypackage
          path: VRCQuestTools.unitypackage

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        unityVersion:
          - 2018.4.20f1
          - 2019.4.31f1
          - 2019.4.40f1
    steps:
      - uses: actions/checkout@v2
        with:
          path: Assets/KRT/VRCQuestTools

      - uses: actions/cache@v2
        with:
          path: Library
          key: Library-test-${{ matrix.unityVersion }}-${{ github.ref }}
          restore-keys: |
            Library-test-${{ matrix.unityVersion }}-

      - uses: game-ci/unity-test-runner@v2
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          unityVersion: ${{ matrix.unityVersion }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Restore dependencies
        run: dotnet tool restore
      - name: Check style
        run: dotnet style check -r stylecop.ruleset -j stylecop.json . > result.txt
      - name: Report result
        run: if [ "$(wc -l < result.txt)" = "0" ]; then true; else cat result.txt && false; fi

  vpm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Make zip
        run: zip $(jq -r '.name' package.json)-$(jq -r '.version' package.json).zip $(ls)
      - uses: actions/upload-artifact@v2
        with:
          name: vpm
          path: "*.zip"

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [build, test, lint, vpm]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          name: unitypackage

      - uses: actions/download-artifact@v2
        with:
          name: vpm

      - name: Create release artifact
        id: artifact
        run: |
          NAME=VRCQuestTools-${GITHUB_REF#refs/tags/}
          mkdir ${NAME}
          cp VRCQuestTools.unitypackage ${NAME}/${NAME}.unitypackage
          cp LICENSE.txt ${NAME}/
          cp README.md ${NAME}/
          cp README.txt ${NAME}/
          zip -r ${NAME}.zip ${NAME}
          echo "::set-output name=artifact-name::${NAME}"

      - uses: softprops/action-gh-release@v1
        with:
          files: |
            *.zip
            ${{ steps.artifact.outputs.artifact-name }}/${{ steps.artifact.outputs.artifact-name }}.unitypackage
